* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
   font-family: "avertabold", sans-serif;
  list-style: none;
}

body {
   font-size: 14px;
  font-style: normal;
  font-weight: 800;
  color: #25333B;
  line-height: normal;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;

}

.row {
  width: 1200px;
  position: relative;
}

a {
  text-decoration: none;
  color: white;
}
.scrollToHome{
    background-color: #25333b;
  border-radius: 6px;
  bottom: 5%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  line-height: 45px;
  position: fixed;
  right: 45px;
  text-align: center;
  text-decoration: none;
  width: 50px;
  z-index: 9;
  font-size: 20px;
  transform: scale(1);
  border: 1px solid #25333b;
  cursor: pointer;
  &_show{
    width: 30px;
    height: 30px;
  }


}

