.header {
  height: 93px;
  padding: 20px;
  width: 100%;
  display: flex;
  position: fixed;
  margin: 0 auto;
  z-index: 999;
  background: white;
  align-items: center;
  justify-content: space-between;

  &_logo {
    // position: relative;
    &_title {
      width: 120px;
    }

    &_text {
      color: #25333B;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      //   position: absolute;
    }
  }

  &_navbar {
    width: 75%;
    display: flex;
    font-size: 14px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 15px;
    // padding-top: 15px;


    &_nav {
      cursor: pointer;
      padding: 10px;
      color: #25333B;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;

      &::before {
        background-color: red;
        content: "";
        width: 0;
        height: 3px;
        left: 0;
        bottom: 0;
        transition: width 0.35s ease 0s;
        position: absolute;
      }

      &:hover::after {
        width: 100%;
      }
    }

    &_language {
      position: relative;

      &-wrapper {
        padding: 10px 8px;
        display: flex;
        align-items: center;
        gap: 6px;
        border-radius: 12px;
        background: #25333b;
        cursor: pointer;

      }

      &-icon {
        width: 20px;
        height: 20px;
        color: #ffff;
      }

      &-iconArrow {
        width: 16px;
        height: 16px;
        color: #ffff;
      }

      & > span {
        display: flex;
        align-items: center;
        //@include fontStyles(400, 14px, 17px, #062A49);
      }

      &-bar {
        display: none;
        position: absolute;
        flex-direction: column;
        align-items: center;
        width: 75px;
        right: 0;
        top: 45px;
        border-radius: 12px;
        background: #25333b;
        color: white;
        z-index: 10;
        overflow: hidden;

        & > p {
          width: 100%;
          text-align: center;
          padding: 5px;
          cursor: pointer;
        }

        & > p:hover {
          background-color: grey;
          color: white;
        }
      }
    }
  }

  &_burger {
    display: none;
  }

  &_menu {
    display: none;
  }
}

@media (max-width: 1250px) {
  .header {
    max-width: 100%;
    position: static;
    z-index: 999;
    display: flex;
    overflow: hidden;
    padding: 0 15px;
    justify-content: space-between;

    &_navbar {
      width: 80%;
    }
  }
}

@media (max-width: 1180px) {
  .header {
    max-width: 100%;
    position: static;
    z-index: 999;
    display: flex;
    overflow: hidden;
    padding: 0 15px;
    justify-content: space-between;

    &_navbar {
      display: none;
    }

    &_burger {
      display: flex;
      //margin: 0 auto;
      // margin-right: 20px;
    }


    &_navbar {
      color: white;
      text-align: center;
      padding: 32px;
      width: 100%;
      transition: all 0.5s ease;

      &_nav {
        margin-bottom: 30px;
      }

      &_language {
        display: flex;
        justify-content: center;

        &-bar {
          margin: 0 auto;
          background: white;
          right: auto;
          color: #25333b;
        }

      }

    }

    &_mobile {
      position: absolute;
      display: block;
      list-style: none;
      text-align: center;
      background: #25333b;
      //left: 0;

      top: 80px;
      transition: all 0.5s ease-out;
      width: 100%;
      height: 90vh;
      padding-top: 10px;
      right: 0;
      z-index: 999;

      li {
        color: white !important;
      }
    }

  }
}

@media (max-width: 1280px) {
  .header {
    max-width: 100%;
    position: static;
    z-index: 999;
    display: flex;
    overflow: hidden;
    padding: 0 15px;
    justify-content: space-between;

    &_navbar {
      display: none;
    }

    &_burger {
      display: flex;
      //margin: 0 auto;
      // margin-right: 20px;
    }


    &_navbar {
      color: white;
      text-align: center;
      padding: 32px;
      width: 100%;
      transition: all 0.5s ease;

      &_nav {
        margin-bottom: 30px;
      }

      &_language {
        display: flex;
        justify-content: center;

        &-bar {
          margin: 0 auto;
          background: white;
          right: auto;
          color: #25333b;
        }

      }

    }

    &_mobile {
      position: absolute;
      display: block;
      list-style: none;
      text-align: center;
      background: #25333b;
      //left: 0;

      top: 80px;
      transition: all 0.5s ease-out;
      width: 100%;
      height: 90vh;
      padding-top: 10px;
      right: 0;
      z-index: 999;

      li {
        color: white !important;
      }
    }

  }
}

@media (max-width: 1120px) {
  .header {
    max-width: 100%;
    position: static;
    z-index: 999;
    display: flex;
    overflow: hidden;
    padding: 0 15px;
    justify-content: space-between;

    &_navbar {
      display: none;
    }

    &_burger {
      display: flex;
      //margin: 0 auto;
      // margin-right: 20px;
    }


    &_navbar {
      color: white;
      text-align: center;
      padding: 32px;
      width: 100%;
      transition: all 0.5s ease;

      &_nav {
        margin-bottom: 30px;
      }

      &_language {
        display: flex;
        justify-content: center;

        &-bar {
          margin: 0 auto;
          background: white;
          right: auto;
          color: #25333b;
        }

      }

    }

    &_mobile {
      position: absolute;
      display: block;
      list-style: none;
      text-align: center;
      background: #25333b;
      //left: 0;

      top: 80px;
      transition: all 0.5s ease-out;
      width: 100%;
      height: 90vh;
      padding-top: 10px;
      right: 0;
      z-index: 999;

      li {
        color: white !important;
      }
    }

  }
}

@media (max-width: 1024px) {
  .header {
    max-width: 100%;
    position: static;
    z-index: 999;
    display: flex;
    overflow: hidden;
    padding: 0 15px;
    justify-content: space-between;

    &_navbar {
      display: none;
    }

    &_burger {
      display: flex;
      //margin: 0 auto;
      // margin-right: 20px;
    }


    &_navbar {
      color: white;
      text-align: center;
      padding: 32px;
      width: 100%;
      transition: all 0.5s ease;

      &_nav {
        margin-bottom: 30px;
      }

      &_language {
        display: flex;
        justify-content: center;

        &-bar {
          margin: 0 auto;
          background: white;
          right: auto;
          color: #25333b;
        }

      }

    }

    &_mobile {
      position: absolute;
      display: block;
      list-style: none;
      text-align: center;
      background: #25333b;
      //left: 0;

      top: 80px;
      transition: all 0.5s ease-out;
      width: 100%;
      height: 90vh;
      padding-top: 10px;
      right: 0;
      z-index: 999;

      li {
        color: white !important;
      }
    }

  }
}

@media (max-width: 900px) {
  .header {
    max-width: 100%;
    position: static;
    z-index: 999;
    display: flex;
    overflow: hidden;
    padding: 0 15px;
    justify-content: space-between;

    &_navbar {
      display: none;
    }

    &_burger {
      display: flex;
      //margin: 0 auto;
      // margin-right: 20px;
    }


    &_navbar {
      color: white;
      text-align: center;
      padding: 32px;
      width: 100%;
      transition: all 0.5s ease;

      &_nav {
        margin-bottom: 30px;
      }

      &_language {
        display: flex;
        justify-content: center;

        &-bar {
          margin: 0 auto;
          background: white;
          right: auto;
          color: #25333b;
        }

      }

    }

    &_mobile {
      position: absolute;
      display: block;
      list-style: none;
      text-align: center;
      background: #25333b;
      //left: 0;

      top: 80px;
      transition: all 0.5s ease-out;
      width: 100%;
      height: 90vh;
      padding-top: 10px;
      right: 0;
      z-index: 999;

      li {
        color: white !important;
      }
    }

  }
}

@media (max-width: 832px) {
  .header {
    max-width: 100%;
    position: static;
    z-index: 999;
    display: flex;
    overflow: hidden;
    padding: 0 15px;
    justify-content: space-between;

    &_navbar {
      display: none;
    }

    &_burger {
      display: flex;
      //margin: 0 auto;
      // margin-right: 20px;
    }


    &_navbar {
      color: white;
      text-align: center;
      padding: 32px;
      width: 100%;
      transition: all 0.5s ease;

      &_nav {
        margin-bottom: 30px;
      }

      &_language {
        display: flex;
        justify-content: center;

        &-bar {
          margin: 0 auto;
          background: white;
          right: auto;
          color: #25333b;
        }

      }

    }

    &_mobile {
      position: absolute;
      display: block;
      list-style: none;
      text-align: center;
      background: #25333b;
      //left: 0;

      top: 80px;
      transition: all 0.5s ease-out;
      width: 100%;
      height: 90vh;
      padding-top: 10px;
      right: 0;
      z-index: 999;

      li {
        color: white !important;
      }
    }

  }
}

@media (max-width: 644px) {
  .header {
    max-width: 100%;
    position: static;
    z-index: 999;
    display: flex;
    overflow: hidden;
    padding: 0 15px;
    justify-content: space-between;

    &_navbar {
      display: none;
    }

    &_burger {
      display: flex;
      //margin: 0 auto;
      // margin-right: 20px;
    }


    &_navbar {
      color: white;
      text-align: center;
      padding: 32px;
      width: 100%;
      transition: all 0.5s ease;

      &_nav {
        margin-bottom: 30px;
      }

      &_language {
        display: flex;
        justify-content: center;

        &-bar {
          margin: 0 auto;
          background: white;
          right: auto;
          color: #25333b;
        }

      }

    }

    &_mobile {
      position: absolute;
      display: block;
      list-style: none;
      text-align: center;
      background: #25333b;
      //left: 0;

      top: 80px;
      transition: all 0.5s ease-out;
      width: 100%;
      height: 90vh;
      padding-top: 10px;
      right: 0;
      z-index: 999;

      li {
        color: white !important;
      }
    }

  }
}

@media (max-width: 576px) {
  .header {
    max-width: 100%;
    position: static;
    z-index: 999;
    display: flex;
    overflow: hidden;
    padding: 0 15px;
    justify-content: space-between;

    &_navbar {
      display: none;
    }

    &_burger {
      display: flex;
      //margin: 0 auto;
      // margin-right: 20px;
    }


    &_navbar {
      color: white;
      text-align: center;
      padding: 32px;
      width: 100%;
      transition: all 0.5s ease;

      &_nav {
        margin-bottom: 30px;
      }

      &_language {
        display: flex;
        justify-content: center;

        &-bar {
          margin: 0 auto;
          background: white;
          right: auto;
          color: #25333b;
        }

      }

    }

    &_mobile {
      position: absolute;
      display: block;
      list-style: none;
      text-align: center;
      background: #25333b;
      //left: 0;

      top: 80px;
      transition: all 0.5s ease-out;
      width: 100%;
      height: 90vh;
      padding-top: 10px;
      right: 0;
      z-index: 999;

      li {
        color: white !important;
      }
    }

  }
}

@media (max-width: 460px) {
  .header {
    max-width: 100%;
    position: static;
    z-index: 999;
    display: flex;
    overflow: hidden;
    padding: 0 15px;
    justify-content: space-between;

    &_navbar {
      display: none;
    }

    &_burger {
      display: flex;
      //margin: 0 auto;
      // margin-right: 20px;
    }


    &_navbar {
      color: white;
      text-align: center;
      padding: 32px;
      width: 100%;
      transition: all 0.5s ease;

      &_nav {
        margin-bottom: 30px;
      }

      &_language {
        display: flex;
        justify-content: center;

        &-bar {
          margin: 0 auto;
          background: white;
          right: auto;
          color: #25333b;
        }

      }

    }

    &_mobile {
      position: absolute;
      display: block;
      list-style: none;
      text-align: center;
      background: #25333b;
      //left: 0;

      top: 80px;
      transition: all 0.5s ease-out;
      width: 100%;
      height: 90vh;
      padding-top: 10px;
      right: 0;
      z-index: 999;

      li {
        color: white !important;
      }
    }

  }
}

@media (max-width: 365px) {
  .header {
    max-width: 100%;
    position: static;
    z-index: 999;
    display: flex;
    overflow: hidden;
    padding: 0 15px;
    justify-content: space-between;

    &_navbar {
      display: none;
    }

    &_burger {
      display: flex;
      //margin: 0 auto;
      // margin-right: 20px;
    }


    &_navbar {
      color: white;
      text-align: center;
      padding: 32px;
      width: 100%;
      transition: all 0.5s ease;

      &_nav {
        margin-bottom: 30px;
      }

      &_language {
        display: flex;
        justify-content: center;

        &-bar {
          margin: 0 auto;
          background: white;
          right: auto;
          color: #25333b;
        }

      }

    }

    &_mobile {
      position: absolute;
      display: block;
      list-style: none;
      text-align: center;
      background: #25333b;
      //left: 0;

      top: 80px;
      transition: all 0.5s ease-out;
      width: 100%;
      height: 90vh;
      padding-top: 10px;
      right: 0;
      z-index: 999;

      li {
        color: white !important;
      }
    }

  }
}